/*  */

.questions-folder {
  background-image: url("../../assets/images/purple-background-mini.png");
  background-repeat: no-repeat;

  position: relative;
  height: 370px;
}

.questions-wrapper {
  max-width: 1066px;
  width: 100%;
}
.questions-title {
  color: var(--font-colors);
}

.questions-img {
  position: absolute;
  right: 13px;
  bottom: 10px;
}

.questions-wrap {
  height: 100px;
  background-color: #3a173c;

  margin: 70px 0 32px;
  /*  */
  /* height: 300px; */

  /*  */

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions-btn {
  width: 92px;
  background-color: #b9e2bf;
  border: 2px solid #b9e2bf;
  transition: ease 0.3s;
}

.questions-btn:hover {
  background-color: transparent;
  color: #b9e2bf;
}

.questions-box {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
}

/*  */
/*  */
/* responsiv start */

@media (max-width: 850px) {
  .questions-img {
    /* display: none; */
    width: 133px;
  }
  .questions-plato-img {
    width: 100px;
  }
  .questions-wrap {
    /* flex-direction: column; */
  }
  .questions-box {
    flex-direction: column;
  }

  /*  */
  /*  */
}

@media (max-width: 550px) {
  .questions-plato-img {
    padding-top: 15px;
  }
  .questions-box {
    gap: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    max-width: 400px;
    width: 100%;

    margin: auto;

    /* flex-direction: column; */
  }
  .questions-wrappppp,
  .questions-folderss {
    display: flex;
    flex-direction: column;
  }
}
