/*  */
/*  */

.focus-section {
  margin-bottom: 244px;
}
.focus-folder {
  background-image: url("../../assets/images/purple-background.png");
}
.focus-wrap {
  max-width: 850px;
}
.focus-title {
  color: #e0dcdb;
}
.focus-text {
  color: #e0dcdb;
}
