/*  */
/*  */

.focus-section {
  margin-bottom: 144px;
}
.focus-folder {
  background-image: url("../../assets/images/purple-background.png");
}
.focus-wrap {
  max-width: 850px;
  padding: 0 20px;
}
.focus-title {
  color: #e0dcdb;
}
.focus-text {
  color: #e0dcdb;
}

.focus-wrap > img {
  max-width: 520px;
  width: 100%;
}

@media (max-width: 900px) {
  .focus-section {
    margin-bottom: 130px;
  }
}
@media (max-width: 700px) {
  .focus-section {
    margin-bottom: 85px;
  }
}
