/*  */

.about-section {
  background-image: url("../../assets/images/circle.png"),
    url("../../assets/images/leaf.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 509px) calc(50% - 224px),
    calc(50% + 536px) calc(50% - 298px);
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  height: 700px;

  margin-bottom: 182px;
}

.about-wrap {
  width: 900px;
  margin-bottom: 85px;
  height: 100%;
}
.about-title {
  color: #3a173c;
}

/* review wrapper */
.review-wrap {
  background-image: url("../../assets/images/left-leaf.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 538px) calc(50% - 25px);
}
.review-list {
  gap: 50px;
}
.review-item {
  position: relative;
  width: 476px;
  height: 480px;
}

.review-text,
.customer-text {
  color: #3a173c;
}
.customer-wrap {
  position: absolute;
  bottom: 0;
}
