/*  */

.product-section {
  margin-bottom: 190px;
}
.product-wrap {
  max-width: 873px;
  width: 100%;
}
.product-title {
  color: #3a173c;
}
.product-text {
  color: var(--font-and-background-color);
}

.product-list {
  margin-bottom: 99px;
}
.product-btn-wrap {
  text-align: center;
}
.product-btn {
  max-width: 420px;
  width: 100%;
  background-color: var(--font-and-background-color);
  color: var(--font-colors);
  border: 2px solid #3a173c;
  transition: ease 0.3s;
}

.product-btn:hover {
  background-color: transparent;
  border-color: #3a173c;
  color: #3a173c;
}
