/*  */
/*  */

.time-wrapper {
  background-image: url("../../assets/images/purple-background-mini.png");
  background-repeat: no-repeat;
}
.time-title {
  color: var(--font-colors);
  max-width: 1000px;
  width: 100%;
}

.time-list {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.time-item {
  max-width: 150px;
  width: 100%;
}
.time-item:not(:last-child) {
  border-right: 1px solid #e0dcdb;
}
