/*  */

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #d3c8b7;
  height: 80px;
  z-index: 5;
}

.header-wrap {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.burger-btn {
  display: none;
}

@media (max-width: 700px) {
  .burger-btn {
    display: block;
  }
  .header-list {
    display: none;
  }
}

@media (max-width: 450px) {
  .header-wrap {
    padding-top: 10px;
  }
  .site-header {
    height: 60px;
  }
}
