/*  */

.footer-section {
  height: 500px;
  background-image: url("../../assets/images/purple-circle.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 405px) calc(50% + 49px);
  margin-top: 70px;
}
/* .footer-back-folder {
} */
.footer-top-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3a173c;
}
.footer-link-folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 62%;
}
.footer-list {
  gap: 44px;
}
.footer-top-btn {
  background-color: #b9e2bf;
  border-radius: 32px;
  width: 91px;
  border: 2px solid transparent;
  transition: ease 0.3s;
}
.footer-top-btn:hover {
  background-color: transparent;
  color: #b9e2bf;
  border-color: #b9e2bf;
}

.footer-list {
  display: flex;
  align-items: center;
}

/*  */
/*  */
.footer-folder {
  position: relative;
}
.footer-title {
  color: var(--font-and-background-color);
  margin-bottom: 80px;
}

.footer-text {
  margin-top: 17px;
  max-width: 260px;
  width: 100%;
  color: var(--font-and-background-color);
}
.footer-wrapper {
  display: flex;
  margin-bottom: 50px;
}
.footer-wrap {
  margin-left: 50px;
}

.footer-btn {
  background-color: var(--font-and-background-color);
  max-width: 115px;
  width: 100%;
  color: var(--font-colors);
  margin-bottom: 30px;
  border: 2px solid var(--font-and-background-color);
}
.footer-btn:hover {
  background-color: transparent;
  color: #3a173c;
}

.footer-social {
  line-height: 100px;
}
.footer-privacy {
  position: absolute;
  bottom: -25px;
  right: 5px;
}
/*  */
/*  */
/*  */

.footer-bottom-wrap {
  background-color: var(--font-and-background-color);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.footer-bottom-btn {
  background-color: #b9e2bf;
  border-radius: 50px;
  max-width: 110px;
  width: 100%;
  padding: 7px 0;
  color: #3a173c;
  border: 2px solid #b9e2bf;
  transition: ease 0.3s;
}
.footer-bottom-btn:hover {
  background-color: transparent;
  color: #b9e2bf;
}

@media (max-width: 1200px) {
  .footer-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 840px) {
  .footer-section {
    background-position: calc(50% + 200px) calc(50% + 49px);
  }
  .footer-social {
    line-height: 50px;
  }
  .footer-top-wrap {
    flex-direction: column;
    align-items: start;
    height: 210px;
  }
  .footer-link-folder {
    align-items: start;
    justify-content: space-between;
    width: 100%;
  }
  .footer-list {
    flex-direction: column;
    padding-bottom: 20px;
    gap: 20px;
  }
  .footer-link-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
