/*  */

.cheap-section {
  padding-top: 184px;

  background-image: url("../../assets/images/circle.png"),
    url("../../assets/images/left-leaf.svg"),
    url("../../assets/images/leaf.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 482px) calc(50% - 124px),
    calc(50% - 544px) calc(50% + 259px), calc(50% + 584px) calc(50% - 93px);
  margin-bottom: 160px;

  overflow-x: hidden;
}

.cheap-title {
  max-width: 1030px;
  width: 100%;
  color: var(--font-and-background-color);
  margin-bottom: 55px;
}
.cheap-text {
  max-width: 640px;
  width: 100%;
  color: var(--font-and-background-color);
}
.cheap-btn {
  max-width: 420px;
  width: 100%;
  color: var(--font-colors);
  background-color: var(--font-and-background-color);
  margin-top: 78px;
  border: 2px solid var(--font-and-background-color);
  transition: ease 0.3s;
}
.cheap-btn:hover {
  background-color: transparent;
  color: var(--font-and-background-color);
}

@media (max-width: 700px) {
  .cheap-section {
    padding-top: 80px;
    margin-bottom: 50px;
  }
}
