/*  */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1250px;
  max-width: 1440px;
  margin: 0 auto;
  /* height: 100vh; */
  padding: 0 30px;
}

:root {
  --font-and-background-color: hsl(297, 46%, 16%);
  --font-colors: #e0dcdb;
}

.font-c {
  color: var(--font-and-background-color);
}

.font-fff {
  color: var(--font-colors);
}
.font-f0 {
  color: #c0b9b5;
}
